.container{
    text-align: center;
    margin-top: 23;
}
table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 5px solid #244624;
    border-radius: 21px;
}

button{
    font-size: 40px;
    background: white;
    width: 102px;
    height: 58px;
    border-radius: 21px;
    border-radius: 20px;
}

.calculator{
    background-color: white;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}